/* You can add global styles to this file, and also import other style files */

//COLORS

$gray: #eaeaea;
$orange: #e29933;
$white: #ffffff;
$darker-gray: #666666;
$green: #49ad5b;
$red: #d6323f;
$yellow: #d2a710;
$light-gray: #d2d2d2;
$grayish-blue: #47525e;
