<mat-card class="customer-list--card">
  <div fxLayout="row" fxLayoutAlign="space-between" fxFlexAlign="baseline">
    <mat-card-title>John Doe</mat-card-title>
    <mat-card-subtitle>john.doe@hotmail.com</mat-card-subtitle>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-subtitle>123.456.789-00</mat-card-subtitle>
    <mat-card-subtitle>(11)997990950</mat-card-subtitle>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <button mat-mini-fab disabled><span>Ativo</span></button>
    <button mat-raised-button><span>Editar</span></button>
  </div>
</mat-card>
