<mat-card class="customer-list--card">
  <div fxLayout="row" fxLayoutAlign="space-between" fxFlexAlign="baseline">
    <mat-card-title>{{ customerName }}</mat-card-title>
    <mat-card-subtitle>{{ email }}</mat-card-subtitle>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-card-subtitle>{{ cpf }}</mat-card-subtitle>
    <mat-card-subtitle>{{ number }}</mat-card-subtitle>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between" [ngSwitch]="status">
    <button
      mat-mini-fab
      disabled
      [ngClass]="{
        active: status === 'background-color: green',
        inactive: status === 'inactive',
        waiting: status === 'waiting',
        disabled: status === 'disabled'
      }"
    >
      <span *ngSwitchCase="'active'">Ativo</span>
      <span *ngSwitchCase="'inactive'">Inativo</span>
      <span *ngSwitchCase="'waiting'">Aguardando Ativação</span>
      <span *ngSwitchCase="'disabled'">Desativado</span>
    </button>
    <button mat-raised-button><span>Editar</span></button>
  </div>
</mat-card>
